.wrapper {
  position: relative;
  display: flex;
  padding: 2.25rem 0.75rem;
  height: 100%;
  align-items: center;
  flex-direction: column;
  gap: 11rem;
}

.badge {
  position: absolute;
  top: 0;
  left: 45%;
  background: rgba(31, 32, 36, 1);
  color: rgba(250, 250, 252, 1);
  font-size: 12px;
  font-weight: 700;
  height: 20px;
  min-width: 20px;
  padding: 0 6px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
