.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-sm {
  display: -webkit-box;
  -webkit-line-clamp: attr(rows, 4);
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  mask-image: linear-gradient(to bottom, white 20%, transparent);
}

.action {
  font-size: 14px;
  width: max-content;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid black;
}
