@import "tailwindcss";

:root {
  --background: rgba(250, 250, 252, 1);
  --foreground: rgba(31, 32, 36, 1);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    Urbanist,
    Urbanist Fallback,
    sans-serif;
}
